<footer class="page-footer">
    <div class="page-wrap">
        <p class="page-footer__contact">Drs. Roth, Rotter, and Laster<br>

        <a href="https://www.google.com/maps/place/637+Washington+St+%23202,+Brookline,+MA+02446/">637 Washington Street, Suite 202<br>
        Brookline MA, 02446</a><br>
        (617) 232-2811</p>

        <p class="page-footer__byline">Site by James Little</p>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var size = window.getComputedStyle(document.body, ':before').getPropertyValue('content');
    if(size === '"Small"') {
        $("#js-main-nav-toggled").hide();
    }
    $("#js-main-nav-toggler").click(function() {
        $("#js-main-nav-toggled").toggle();
    });
</script>
