<footer class="page-footer">
    <div class="page-wrap">
        <p class="page-footer__contact">Drs. Roth, Rotter, and Laster<br>

        <a href="https://www.google.com/maps/place/637+Washington+St+%23202,+Brookline,+MA+02446/">637 Washington Street, Suite 202<br>
        Brookline MA, 02446</a><br>
        (617) 232-2811</p>

        <p class="page-footer__byline">Design &copy;
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>

            <a href="http://jameslittle.me">James Little</a><br>

            Content &copy;
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script> Sally Roth, Sari Rotter, Susan Laster<br>

            Photos by Dr. Rotter's Husband
        </p>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var size = window.getComputedStyle(document.body, ':before').getPropertyValue('content');
    if(size === '"Small"') {
        $("#js-main-nav-toggled").hide();
    }
    $("#js-main-nav-toggler").click(function() {
        $("#js-main-nav-toggled").toggle();
    });
</script>

<!-- Clicky Analytics -->
<a title="Web Statistics" href="http://clicky.com/100917100"><img alt="Web Statistics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100917100); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100917100ns.gif" /></p></noscript>
