<header class="banner">
    <h1 class="banner__title">Drs. Roth, Rotter, &amp; Laster</h1>
    <p class="banner__contact">637 Washington Street &bullet; Suite 202 &bullet; Brookline&nbsp;MA&nbsp;02446<br>(617) 232-2811</p>
</header>

<div class="notification">
    <p class="notification__date">Tuesday, Jul. 12, 2016</p>
    <p>We are aware of an ongoing issue with our telephone system. Comcast, our telephone provider, is working on a solution.</p>
    <p><strong>If you are experiencing an emergency please call 911 or go to your nearest emergency room.</strong></p>
</div>
