<nav class="main-navigation">
  <p class="main-navigation__toggle" id="js-main-nav-toggler">Show/Hide Navigation</p>

    <ul  id="js-main-nav-toggled">
    {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
            {% assign current = 'main-navigation__item--active' %}
        {% endif %}
        <li class="main-navigation__item {{ current }}">
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
    {% endfor %}
    </ul>
</nav>
