$banner-gradient-width: 13%;

.banner {
    background: linear-gradient(to right, 
        $blue 0%, 
        $white $banner-gradient-width, 
        $white 100% - $banner-gradient-width, 
        $blue 100%
    );
    text-align: center;
    line-height: 1;
    padding: 2rem 0;
    border-bottom: 2px solid $black;

    @include mq-equals(small) {
        font-size: 0.8em;
        background: linear-gradient(to right, 
            transparentize($blue, 0.5) 0%, 
            $white $banner-gradient-width, 
            $white 100% - $banner-gradient-width, 
            transparentize($blue, 0.5) 100%
        );
    }
}

.banner__title {
    font-family: "Cabin Condensed";
    font-weight: 700;
    margin: 0;
    font-size: 4em;
    color: $blue;
    text-shadow: 2px 2px 2px $black;
}

.banner__contact {
    font-size: 1.5em;
    color: $gray;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 1.4;
    margin: 0;
    margin-top: 0.5em;
}