.content {

    h1, h2, h3, h4, h5, h6 {
        clear: both;
        margin-top: 1.3em;
        margin-bottom: 0.4em;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin: 0;

        & + p {
            margin-top: 1.5em;
        }
    }
}