.content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        clear: both;
        margin-bottom: 0.4em;
        margin-top: 1.3em;

        &:first-child {
            margin-top: 0;
        }
    }


    p {
        margin: 0;

        + p {
            margin-top: 1.5em;
        }
    }


    iframe {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        margin: 1em 0;
    }

    dt {
        float: left;
        clear: left;
        width: 9rem;
        text-align: right;
        font-weight: bold;
    }

    dt:after {
        content: ":";
    }

    dd {
        margin: 0 0 0 9.5rem;
        padding: 0 0 0.5em;
    }
}

// https://css-tricks.com/examples/hrs/
hr {
    margin-top: 1.3rem;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
