.content__home-image {
    box-shadow: 0 0 20px $black;
    max-width: 80%;
    display: block;
    margin: 0 auto 1em;
}

.home-news {
    clear: both;
    padding: 2rem;
    @include cf();
}

.home-news__news-box {
    border: 1px solid $black;
    width: 47%;
    margin: 0 1%;
    float: left;
    overflow: hidden;
}

.news-box__header {
    background: linear-gradient(to bottom,
        $lighter-blue 0%,
        $blue 100%
    );

    color: $white;
    text-shadow: 2px 2px 2px $black;
    padding: 1rem;
    box-shadow: 0 2px 2px $gray;
}

.news-box__header__title {
    margin: 0;
    line-height: 1;
    font-size: 1.375rem;
}

.news-box__header__date {
    margin: 0;
    font-size: 1rem;
    line-height: 1;
    font-weight: normal;
}

.news-box__content {
    padding: 1rem;

    p {
        margin: 0;
    }
}

.logos {
    text-align: center;
    padding: 2rem;

    img {
        box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.6);
        margin: 0 20px;
    }
}
