.content {
    padding: 2rem;
}

.main-navigation + .content {
    @include mq-greater-than(small) {
        float: right;
        width: 65%;
    }
}

.photo-card {
    float: left;
    width: 50%;
    padding: 3px;
    height: auto;
}

.row {
    @include cf;
    clear: both;
    margin-bottom: 2em;
}
