.main-navigation {
    @include cf;
    background: $gray;
    color: $white;
    float: left;
    font-size: 1.1em;
    font-weight: 400;
    padding: 2em;
    width: 33%;

    @include mq-less-than(large) {
        font-size: 1em;
    }

    @include mq-equals(small) {
        float: none;
        width: 100%;
    }

    @include mq-greater-than(small) {
        padding-right: 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include mq-equals(small) {
            margin-top: 1rem;
        }
    }
}

.main-navigation__item--active {
    background: $white;
    box-shadow: -10px 0 10px transparentize($black, 0.5);
    color: $black;
}

.main-navigation__item {
    margin-bottom: 0.5em;

    &:hover {
        @extend .main-navigation__item--active;
    }

    a {
        color: inherit;
        display: block;
        padding: 0.5em;
        text-decoration: none;

        &:before {
            @include mq-greater-than(small) {
                content: '▶ ';
            }
        }
    }

    @include mq-equals(small) {
        &:before {
            content: '';
        }

        border: 1px solid $white;
        border-radius: 7px;
        margin-bottom: 0.6rem;
        padding: 0.2rem;
        text-align: center;
        width: 100%;
    }
}

.main-navigation__item--emergencies:hover {
    @include mq-greater-than(small) {
        background: linear-gradient(to right,
            $red 0%,
            $white 80%
        );
    }
}

.home-news {
    clear: both;
}

.main-navigation__toggle {
    background: linear-gradient(to bottom, lighten($gray, 20%) 0%, lighten($gray, 10%) 100%);
    border: 1px solid lighten($gray, 30%);
    border-radius: 7px;
    font-size: 1.3em;
    font-weight: 300;
    margin: 0;
    text-align: center;

    @include mq-greater-than(small) {
        display: none;
    }

    &:hover {
        background: linear-gradient(to bottom, lighten($gray, 10%) 0%, lighten($gray, 20%) 100%);
        cursor: pointer;
    }
}
