.text-center {
    text-align: center;
}

.pull-left {
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
}

.clear {
    clear: both;
}

.img-half {
    max-width: 40%;
    height: auto;
}

.scroll-off {
    pointer-events: none;
}
