$blue: #0A7BFF;
$lighter-blue: #3793FF;
$darker-blue: #015ECB;
$gray: #313B4E;
$light-gray: #8E9EBD;
$background-gray: #8e9299;
$white: #E6EAEF;
$black: #111C28;
$red: #e86e66;

$base-font-family: "Roboto", Arial, sans-serif;
$base-line-height: 1.8;
