$blue: #0A7BFF;
$lighter-blue: #3793FF;
$darker-blue: #015ECB;
$gray: #313B4E;
$light-gray: #8E9EBD;
$white: #F8F8F8;
$black: #191919;

$base-font-family: "Roboto", Arial, sans-serif;
$base-line-height: 1.8;